.cabecalho--container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    padding: 1rem 0 1rem;
    background-color: #fff;
}

.cabecalho--logo{
    width:11rem;
    max-width: 7.5rem;
    margin-right: 2rem;
}

::placeholder{
    color: gray;
    opacity: 1;
    font-size: .875rem;
    margin: auto;
}

.cabecalho--busca{
    display: none;
}

/* .busca--Lupa{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
} */



.fa-magnifying-glass{
    font-size: 20px;
    color: rgb(126, 123, 123);
    position: relative;
    
}

.menu--Login{
    border: solid #2a7ae4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    color: #2a7ae4;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: none;
}

/* tablet aqui  */

@media(min-width: 48rem){

    .cabecalho--container{
        max-width: 63.9375rem;
        justify-content: space-evenly;
    }

    .cabecalho--busca{
        display: flex;
        padding: .0625rem;
        align-self: center;
        width: 21.875rem;
        height: 2.5rem;
        padding-left: 1rem;
        background-color: rgb(233, 235, 235);
        border-radius: 1.25rem;
    }

    .fa-magnifying-glass{
        font-size: 14px;
        color: rgb(126, 123, 123);
        position: relative;
        right: 12.8rem;
        top: .1rem;
    }
    
}
/* Desktop aqui  */

@media(min-width: 64rem){

    .cabecalho--container{
        max-width: 92rem;
        justify-content: space-evenly;
    }

    .fa-magnifying-glass{
        right: 15.8rem;
        top: .1rem;
    }

}
