@import url(./_reset.css);
@import url(./variaveis.css);
@import url(./node_modules/normalize.css/normalize.css);
@import url(./cabecalho/style.css);

body{
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}


