@import url(./_reset.css);
@import url(./variaveis.css);
@import url(./node_modules/normalize.css/normalize.css);
@import url(./cabecalho/style.css);

body{
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Cabeçalho -- Começa aqui */

.cabecalho--container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    max-width: 2000px;
    padding: 2rem;
}

.cabecalho--logo{
    position: relative;
}

::placeholder{
    color: gray;
    opacity: 1;
    font-size: 14px;
    margin: auto;
}

.cabecalho--busca{
    padding: 1px;
    align-self: center;
    width: 350px;
    height: 30px;
    background-color: rgb(233, 235, 235);
    border-radius: 250px;
    border-width: 0px;
}

.busca--Lupa{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

i{
    font-size: 1rem;
    color: rgb(126, 123, 123);
}

.menu--Login{
    border: solid #2a7ae4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    color: var(--azul-clarinho);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    /* justify-content: center; */
}

/* Cabecalho acaba aqui */



/*  Rodapé -- Logo e Contato aqui */
.rodape .rodape--container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2.3rem;
    vertical-align: top;
    background-color: #eaf2fd;
    width: 100%;
    max-width: 2560px;
}

.cabecalho--logo-rodape{
   max-height: 51px;
   /* margin-left: 9.9vw; */
   position: relative;
}

.rodape--contato {
    gap: 1rem;
}
.rodape--contato--lista{
    display: block;
    gap: 1rem;
}

.contato--links{
   text-decoration: none;
   color: black;
}

 .contato--links:link{
    color: black;
}

 .contato--links:visited{
    text-decoration: none;
    color: black;
}

/* Contato acaba aqui */



/* Formulario Aqui */

.formulario--container .formulario {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    gap: 1rem;
}

.formulario--faleConosco{
    font-weight: bold;
}

.formulario--input{
    width: 560px;
    height: 56px;
    font-size: .8rem;
}



.formulario--input-texto{
    height: 82px;
    text-align: top;
    font-size: .8rem;
}



.formulario--button{
    margin-top: 1em;
    background-color: #2a7ae4;
    border: solid #2a7ae4;
    color: white;
    width: 10.3rem;
    height: 3.18rem;
    text-align: center;
}

/* Formulario acaba aqui */


/* Autoria começa aqui */

.rodape--autoria{
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 5px;
    width: 100%;
    max-width: 2560px;
    max-height: 110px;
}

.rodape--autoria p{
    margin: 5px;
}

/* Autoria acaba aqui */



/* mobile aqui */

@media(max-width: 26.5rem){
    .cabecalho--container{
        max-width: 468px;
        justify-content: space-evenly;
        gap:15rem;
    }
    .cabecalho--busca{
        display: none;
    }
    .cabecalho--logo{
        max-width: 120px;
    }

    .menu--Login{
        position: absolute;
        align-self: center;
    }

    .busca--Lupa{
        order: 1;
    }


    .rodape .rodape--container{
        padding: 18rem;
        flex-flow: column wrap;
  }

    .formulario--input{
        width: 20.5rem;
        height: 3.5rem;
        font-size: .8rem;
    }

    .formulario--button{
        margin-top: 1em;
        width: 7.44rem;
        height: 1rem;
        text-align: center;
    }

}




/* tablet aqui  */

@media(max-width: 48rem){

    .cabecalho--container{
        max-width: 1023px;
        justify-content: space-evenly;
    }

    .rodape .rodape--container{
          padding: 9rem;
          
    }

    .formulario--input{
        width: 27.12rem;
        height: 3.5rem;
    }

    .formulario--button{
        margin-top: 1em;
        width: 9.43rem;
        height: 2.5rem;
    }
    
}



