:root{
    --azul-clarinho: #2a7ae4;
    --branco: white;

    font-family: 'Raleway', sans-serif;

    /* MOBILE */

    /* TABLET */

    /* DESKTOP */
    --margem-esquerda: 29.5rem;
    --margem-direita: 33.5rem;

}