.Login--usuario .Login--sessao{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width: 100%;
    max-width: 160rem;
    padding: 2.3rem;
    background-color: #f0f0f0;
}

.Login--Iniciar--Sessao{
    color: #464646;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
}

.Login--Input{
    width: 26.44rem;
    height: 4rem;
}



.Login--Input-Texto{
    height: 5.125rem;
    text-align: top;
    font-size: .8rem;
}



.Login--Button{
    margin-top: 1em;
    background-color: #2a7ae4;
    border: solid #2a7ae4;
    color: white;
    width: 26.9rem;
    height: 4rem;
    text-align: center;
}



/* mobile aqui */

@media screen and (max-width: 26.5rem){
    .Login--Input{
        width: 17.19rem;
        height: 2.5rem;
    }

    .Login--Button{
        margin-top: 1em;
        width: 6.8rem;
        height: 2.5rem;
        position: relative;
        left: 5em;
    }
}


/* tablet aqui  */
@media (max-width: 48rem){

    .Login--Input{
        width: 17.19rem;
        height: 2.5rem;
    }

    .Login--Button{
        margin-top: 1em;
        width: 6.8rem;
        height: 2.5rem;
        position: relative;
        left: 5em;
    }

}


/* desktop aqui */

@media(min-width: 1024px){

}


/* desktop 4k aqui */

@media(max-width: 2560px){

}